* {
  padding: 0;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  height: 100vh;
  background: url("./assets/deskOld.jpeg") fixed no-repeat;
  background-size: cover;
  /* background-color: #111; */
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home__container {
  margin: auto;
  z-index: 0;
}
.home__content {
  padding: 20px;
  width: 75vw;
  height: 85vh;
  background: rgba(2, 2, 2, 0.2);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}
hr {
  width: 70%;

  background-color: #fff;
}

.home__content--1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.home__content--1 span {
  font-size: 2rem;
}
.inputTyped {
  border: none;
  outline: hidden;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: large;
  text-transform: uppercase;
  font-weight: 600;
}
.list-container {
  background-color: #fff;
  color: black;
  list-style: none;
  margin-bottom: 2rem;
  border-radius: 50px;
  padding: 1rem;
}

.list-container a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

footer {
  background: transparent;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
footer .rsss {
  margin-bottom: 10px;
}

footer .rrss a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
footer .rrss a [title] {
  color: #fff;
  background: none;
}

.button-download {
  display: inline-block;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  padding: 12px 36px;
  margin-bottom: 25px;
  border-radius: 6px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.button-download:hover {
  color: #222;
  font-weight: 700;
  background-color: #fff;

  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.hiddenIcon {
  display: none;
}

@media screen and (min-width: 768px) {
  .home__content {
    padding: 20px;
    width: 50vw;
    height: 85vh;
    background: rgba(2, 2, 2, 0.2);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
  }
  .list-container {
    background-color: #fff;
    color: black;
    list-style: none;
    margin-bottom: 2rem;
    border-radius: 50px;
    padding: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-height: 420px) {
  .home {
    display: flex;
    height: 100vh;

    min-height: 0;
  }

  .home__container {
    z-index: 0;
    height: 85%;
  }
  .home__content {
    width: 60vw;
    height: 85vh;
    padding: 0 0 5px 0;
  }
  .list-container {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    width: 60%;
  }
  .button-download {
    padding: 8px 24px;
    border-radius: 6px;
    margin-bottom: 0px;
  }
  .hiddenIcon {
    display: inline-block;
  }
  .hiddenDownload {
    display: none;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10px;
  }
  footer .rsss {
    margin-bottom: 0;
  }
  br {
    display: none;
  }
}
@media screen and (max-height: 375px) {
  .list-container {
    margin: auto;
  }
  .list-container {
    margin-bottom: 20px;
  }
}
