* {
  padding: 0;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  height: 100vh;
  background: url("./assets/deskOld.jpg") fixed no-repeat;
  background-size: cover;
  /* background-color: #111; */
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}

.home__container {
  margin: auto;
  z-index: 0;
}
.home__content {
  padding: 20px;

  width: 75vw;
  height: 85vh;
  background: rgba(2, 2, 2, 0.2);
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}
hr {
  width: 70%;

  background-color: #fff;
}

.home__content--1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.home__content--1 span {
  font-size: 2rem;
}
.inputTyped {
  border: none;
  outline: hidden;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: large;
  text-transform: uppercase;
  font-weight: 600;
}
.list-container {
  background-color: #fff;
  color: black;
  list-style: none;
  margin-bottom: 2rem;
  border-radius: 50px;
  padding: 1rem;
}
.list-container:hover {
  background-color: #222;
}
.list-container:hover ~ a {
  color: #fff;
}
.list-container a {
  text-decoration: none;
  list-style: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

footer {
  background: transparent;
  padding: 20px 23px;
  color: #fff;
  text-align: center;
}
footer .rsss {
  margin-bottom: 10px;
}

footer .rrss a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 20px;
}
footer .rrss a [title] {
  color: #fff;
  background: none;
}
@media screen and (min-width: 768px) {
  .home__content {
    padding: 20px;
    width: 50vw;
    height: 85vh;
    background: rgba(2, 2, 2, 0.2);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
  }
  .list-container {
    background-color: #fff;
    color: black;
    list-style: none;
    margin-bottom: 2rem;
    border-radius: 50px;
    padding: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
